<html>
<head>
<script type="text/javascript" src="./js/vendor/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./js/vendor/angular.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css"/>
</head>
	<body ng-app="catClick">
		<div class="container"> 
		<div class="jumbotron">
			<h1>Cat Click Project</h1>
        </div>
		<div id="idImageDiv" ng-controller="catCtrl" class="form-group">
		<div class="form-group" >
		<div class="row">
			<div class="col-md-2">
			
			<div class="list-group">
			  <a class="list-group-item" href="#" ng-repeat="catOb in octopus.getAllCats()" ng-click="octopus.selectCat(catOb)"> {{catOb.name}} <a>
			</div>
			
			</div>
			<div class="col-md-9 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading"> <p>Cat Name: {{octopus.selectedCat.name}} </p></div>
					<div class="panel-body">  
					<div>
					<a href="#" ng-click="octopus.catClick()" > <img ng-src="{{octopus.selectedCat.src}}" ></img> </a>
					</div>	
					</div>
					<div class="panel-footer">Cat click count: {{ octopus.selectedCat.clickCount }}</div>
				</div>
			
				
			</div>
		</div>
		</div>
		</div>
		</div>

	</body>
</html>